<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PrayerTimes.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1D21C3E26E7A9F70074C0C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1D21C5426E7AA000074C0C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1D21C5F26E7AA000074C0C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
